@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #111827;
    color: white;
    font-family: "Inter", sans-serif, monospace;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2.5%;
    line-height: 40px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}